.order-sm-1 {
  order: 1 !important
}

.order-sm-2 {
  order: 2 !important
}

.about {
  width: 80%;
  margin: auto;
  padding-bottom: 5em;
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    .col-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%
    }
    img {
      max-width: 90%;
      height: auto
    }
     p {
       text-align: justify;
       font-size:23px;
       font-family: Calibri;
       color: $dark_blue;
       margin-top: 2em;
    }
}
}