.container {
    margin: auto auto ;
    width: 1350px;
    background: $white_eyes;
    h2 {
        display: flex;
        justify-content: center;
        color: $dark_blue;
        text-align: center;
        font-family: "Petrichor Sublimey";
        font-size: 50px;
        padding: 7em 0 ;
    }
}