.container {
    margin: auto auto ;
    width: 1350px;
    ;
    h2 {
        display: flex;
        justify-content: center;
        color: $dark_blue;
        text-align: center;
        font-family: "Petrichor Sublimey";
        font-size: 50px;
        padding: 3em 0 ;
    }
    h3 { 
        color: $dark_blue;
        font-size: 50px;
        text-align: center;
        font-family: "Manila Kiss";
        padding: 1em 0;
    }
}