.slider {
  width: 500px;
  margin: 30px auto;
  position: relative;
}

.slider-viewport {
  width: 500px;
  height: 300px;
  overflow: hidden;
}

.slider-content {
  display: grid;
  grid-auto-flow: column;
  transition: 1s all;

  img {
    width: 500px;
    height: 300px;
  }
}

.slider-nav {
  position: absolute;
  width: 100%;
  bottom: -30px;
  margin-top: 10px;
  text-align: center;

  a {
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
    display: inline-block;
    background-color: $purple;
    width: 15px;
    height: 15px;
    margin: 0 3px;

    &:hover {
      background-color: $clear_blue;
      box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
    }
  }
}

@for $i from 2 to 6 {
  #img#{$i}:target .slider-content {
    transform: translateX(-500px * $i + 500px);
  }
}