.projets {
    display: flex;
    justify-content: center;
    padding-bottom: 7%;
    padding-top: 4em;
}

.boite {
position: relative;
width: 200px;
height: 200px;
transform-style: preserve-3d;
animation: animate 27s linear infinite;
&:hover{
    animation-play-state: paused;
}
    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 12vw;
        height: 20vh;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
        img {
            position: absolute;
            top: 0;
            left:0;
            width: 12vw;
            height: 20vh;
            object-fit:cover;
            border-radius: 10px;
        }
    }
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.mobileContenaire {
    display: none;
}