.contact-section {
  background: url("../img/contact1.jpg") no-repeat center;
  background-size: cover;
  padding: 60px 0;

  p:nth-child(1) {
    color: $white_eyes;
    text-align: center;
    font-size: 25px;
  }

  h3 {
    color: #d1a8ea;
  }

  .border {
    width: 100px;
    height: 10px;
    background: #373f51;
    margin: 40px auto;
  }

  .contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;

    .contact-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;

      p {
        color: $white_eyes;
        text-align: center;
        padding-bottom: 1em;

        &:nth-child(2), &:nth-child(3) {
          font-size: 25px;
          font-weight: bold;
          text-align: left;
        }
      }

      .social {
        width: 100%;

        .icon {
          display: inline-flex;
          width: 100%;
          align-items: start;

          img {
            width: 35px;
          }
        }
      }

      img {
        width: 45px;
      }

      .git {
        margin: 0 auto;
      }

    }

    div:nth-child(2) {
      width: 60%;

      .contact-form {
        max-width: 600px;
        margin: auto;
        padding: 0 10px;
        overflow: hidden;

        .contact-form-text {
          display: block;
          width: 100%;
          box-sizing: border-box;
          margin: 16px 0;
          border: 0;
          background: #252432;;
          padding: 20px 40px;
          outline: none;
          color: #ddd;
          transition: 0.5s;

          &:focus {
            box-shadow: 0 0 10px 4px $clear_blue;
          }

          textarea {
            resize: none;
            height: 120px;
          }
        }

        button {
          background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
          color: white;
          padding: 1em;
          letter-spacing: 1px;
          transition: 0.5s;
          background-size: 200% auto;
          border-radius: 10px;
          border: none;
          display: block;
          margin: 0 auto;

          a {
            color: white;
            font-size: 15px;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
          }

          &:hover {
            background-position: right center;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 925px) {
  .contact-section .contact-content {
    flex-direction: column;

    p:nth-child(1) {
      font-size: 20px;
      margin-top: 1em;
    }

    .contact-info {
      width: 90%;
      margin: 1em 0;
    }

    div:nth-child(2) {
      width: 90%;
    }
  }
}

@media screen and (max-width: 780px) {
  form.contact-form .error {
    .error {
      font-size: 15px;
      font-family: calibri;
    }
  }
}

@media screen and (max-width: 598px) {
  .error {
    font-size: 10px;
    font-family: calibri;
  }
}