.style-six {
    border: none;
    background: url(../img/hr.PNG) no-repeat scroll center;
    height: 80px;
    margin: 2rem 0;
}

@media screen and (max-width: 780px) {
    .style-six {
        padding-bottom: 3em;
    }
}

@media screen and (max-width: 598px) {
    .style-six {
        display: none;
    }
}