.modalDialog {
position: fixed;
font-family: Arial, Helvetica, sans-serif;
top: 0;
right: 0;
bottom: 0;
left: 0;
background:rgba(196, 183, 208, 0.37);
z-index: 99999;
opacity: 0;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
pointer-events: none;
    &:target {
        opacity: 1;
        pointer-events: auto;
    }
    //projets:
    .modal {
        width: 95%;
        height: 92%;
        position: relative;
        background-image: radial-gradient(circle 592px at 48.2% 60%, #fffff9 0%, #d6f6ff 90%);
        margin: 2em auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: -moz-linear-gradient(#2edbe8, #01a6b2);
        background: -webkit-linear-gradient(#2edbe8, #01a6b2);
        background: -o-linear-gradient(#2edbe8, #01a6b2);
        overflow: scroll;
        img{
            width: 55%;
            height: 60vh;
            border-radius: 8px;
        }
        .git img{
            width: 40px;
            height: 40px;
            margin-right: 3em;
        }
        p{
            text-align: center;
            font-family: calibri;
            font-size: large;
            margin-top: 1em;
            margin-bottom: 2em;
        }
        h3{
            width: 100%; 
            color: $dark_blue;
        }
        .close {
            background: $purple;
            color: #FFFFFF;
            line-height: 25px;
            position: fixed;
            text-align: center;
            top: 22px;
            right: 2em;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px; 
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
            &:hover {
                background: #6ed1d8;
            }
        }
    }
}
.affichage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5em;
}

::-webkit-scrollbar{
    width: 0%;
    background: transparent;
}

//à venir:
.modalDialog{
    .modalC {
        width: 50%;
        height: 45%;
        position: relative;
        background-image: radial-gradient(circle 592px at 48.2% 50%, #fffff9 0%, #d6f6ff 90%);
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: -moz-linear-gradient(#2edbe8, #01a6b2);
        background: -webkit-linear-gradient(#2edbe8, #01a6b2);
        background: -o-linear-gradient(#2edbe8, #01a6b2);
        p{
            text-align: center;
            font-family: calibri;
            font-size: large;
        }
        h3{
            width: 100%; 
            color: $dark_blue;
        }
        .close {
            background: $purple;
            color: #FFFFFF;
            line-height: 25px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
            &:hover {
                background: #6ed1d8;
            }
        }
        p{
            text-align: center;
            font-family: calibri;
            font-size: large;
        }
        h3{
            width: 100%; 
            color: $dark_blue;
        }
        .close {
            background: $purple;
            color: #FFFFFF;
            line-height: 25px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
            &:hover {
                background: #6ed1d8;
            }
        }
    }
}