@mixin rectangle {
    background-color: $clear_blue;
    width: 30px;
    height: 300px;
    
}
@mixin h3 {
    color: $dark_blue;
    font-size: 50px;
    font-family: "Petrichor Sublimey";
    text-shadow:  -10px 5px 5px rgba(0, 0, 0, .5);
}
/*----------------------------*/
.gauche {
display: flex;
justify-content: flex-start;
    h3 { 
        @include rectangle();
        @include h3();
        writing-mode: sideways-lr;
    }
}


/*right side*/

.droite {
display: flex;
justify-content: flex-end; 
    h3 { 
        @include rectangle();
        @include h3();
        writing-mode: vertical-lr;
    }
}
