@mixin rectangle {
    background-color: $clear_blue;
    width: 30px;
    min-height: 60px;
}
@mixin h3 {
    color: $dark_blue;
    font-size: 50px;
}
@mixin vertical {
    writing-mode: vertical-rl;
    font-family: "Petrichor Sublimey";
    text-shadow:  -10px 5px 5px rgba(0, 0, 0, .5);
    padding: 3em 0;
    margin-left: 1em;
}
/*----------------------------*/
.gauche {
    display: flex;
    justify-content: flex-start;
    padding: 7em 0;
}

.rectangleG {
  @include rectangle();
    h3 {
        @include vertical();
        @include h3();
    }
}

/*right side*/

.droite {
    display: flex;
    justify-content: flex-end;
    padding: 7em 0;
}

.rectangleD {
    @include rectangle();
    h3 {
        @include vertical();
        @include h3();
    }
}
