@import 'colors';
@import 'default';
@import 'font';

.message {
  display: flex;
  justify-content: center;
  background-color: $white_eyes;

  .messageB {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    width: 80%;
    height: 200px;
    background-color: #f0f6ed;
    border-radius: 8px;
    box-shadow: -10px 5px 5px rgba(0, 0, 0, .5);

    p {
      text-align: center;
      margin: auto;
      font-size: 30px;
      font-family: calibri;
      color: $dark_blue;
    }
  }
}

.footer {
  margin-top: 0;
}

@media screen and (max-width: 412px) {

  .message .messageB p {
    font-size: 15px;
  }

  .message .messageB {
    width: 70%;
  }
}