@import 'star';
@import 'colors';
@import 'font';
@import 'nav';
@import 'banner';
@import 'BContainer';
@import 'verticaltitle';
@import 'cardhover1';
@import 'hr';
@import 'carousel';
@import 'about';
@import 'form';
@import 'footer'; 

body{
    background-color: $white_eyes;
    overflow-x: hidden;
}

/*Concat*/

.phrase {
    text-align: center;
    font-family: Calibri;
    color: $purple;
    font-size: 1.7rem;
    padding: 5em 4em;
}
